<html>
	<head>
		<title>Hello World!</title>
	</head>
	<body>
		<h2>{{ ansible_distribution }} {{ ansible_distribution_version }} web server configured by ansible.</h2> 
		<p>
			Nothing to do here... *flies away*
		</p>
	</body>
</html>
